@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  background: #fafafa;
  color: #a3a5ae;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
  overflow-x: hidden;
}

.container {
  width: 1200px;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* HEADER SECTION START HERE */
.header {
  text-align: center;
  padding-top: 2rem;
}

.header .header-titles .header-title {
  font-size: 2rem;
}

.header .header-titles .header-title:first-child {
  font-weight: 300;
  font-size: normal;
  color: #a3a5ae;
  margin-bottom: .4rem;
}

.header .header-titles .header-title:last-child {
  font-weight: 600;
  font-size: normal;
  color: #4c4e61;
  margin-bottom: 1.4rem;
}

.header .header-text {
  margin-bottom: 2.5rem;
}

/* MAIN SECTION START HERE */
.main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .cards .card {
  max-width: 300px;
  background-color: white;
  padding: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.main .cards .card::before {
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  border-bottom: solid 5px white;
  border-left: solid 5px white;
  border-right: solid 5px transparent;
  border-top: solid 5px transparent;
}

.main .cards .card::after {
  position: absolute;
  content: "";
  top: -5px;
  right: 0;
  border-bottom: solid 5px white;
  border-left: solid 5px transparent;
  border-right: solid 5px white;
  border-top: solid 5px transparent;
}

.main .cards .card .card-body .card-title {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  color: #4c4e61;
}

.main .cards .card .card-body .card-text {
  font-size: .9rem;
  margin-bottom: 2.25rem;
}

.main .cards .card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .cards .card:last-child {
  margin-right: 0;
}

.main .cards .card-1 {
  border-top: solid 5px #45d3d3;
}

.main .cards .card-2 {
  border-top: solid 5px #ea5353;
}

.main .cards .card-3 {
  border-top: solid 5px #fcaf4a;
}

.main .cards .card-4 {
  border-top: solid 5px #549ef2;
}

/* MEDIA QUERY FOR TABLET */
@media (max-width: 1080px) {
  .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header {
    text-align: center;
    padding-top: 2rem;
  }
  .header .header-titles .header-title {
    font-size: 1.5rem;
  }
  .header .header-text {
    margin-bottom: 2.5rem;
    font-size: .9rem;
  }
  .main .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .cards .card {
    margin-right: 0;
  }
}

/* MEDIA QUERY FOR MOBILE DEVICES */
@media (max-width: 375px) {
  .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .main .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .cards .card {
    margin-right: 0;
  }
  .main .cards .card .card-footer .card-img {
    width: 50px;
    height: 50px;
  }
}
